* {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
#group {
    background-color: #3c474e;
}
body {
    background-color: #fcbf49;
    color: #003049;
    min-height: 100vh;
}
header img {
    height: 100px;
    width: 100px;
    display: absolute;
    float: left;
}
header{
    align-items: center;
    display: inline-flex;
    padding: 10px;
    background: radial-gradient(#d62828 0%, #d6282800 50%, #d6282800 100%);
}
header:hover {
    background-color: rgba(179, 179, 179, 0.2);
}
nav {
    display: flex;
    float:right;
    width: fit-content;
    justify-content: center;
    padding: 30px;
    white-space: nowrap;
    text-shadow: 4px 4px 4px #f77f00;
}
nav a {
    text-decoration: none;
    color: #d62828;
    font-weight: bold;
    margin: 0px 20px;
    font-size: 35px;
    transition: all 0.3s;
}
nav a:hover {
    color: #f77f00;
    text-shadow:4px 4px 4px #eae2b7;
}
footer {
    background-color: #3c474e;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    display:flex;
    justify-content: space-around;
}
footer a {
    color:white;

}
footer>div {
    margin: 0px 20px;
}
footer img {
    height: 40px;
    margin: 0px 10px;
    transition: transform 0.3s;
}
.hover {
    align-items: center;
    display: inline-flex;
    padding: 10px;
}
.hover:hover {
    background-color: rgba(179, 179, 179, 0.2);
}

main img{
    width:20%;
    height:auto;
    margin:0 14%;
    padding:0;
    border:#243641 solid 8px;
    border-radius: 3px;
}
