* {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Basic Styles*/
body {
    background-color: #FFC26F;
}
header img {
    height: 100px;
    width: 100px;
    display: absolute;
    float: left;
}
header{
    align-items: center;
    display: inline-flex;
    padding: 10px;
}
header:hover {
    background-color: rgba(179, 179, 179, 0.2);
}
nav {
    display: flex;
    float:right;
    width: fit-content;
    justify-content: center;
    padding: 30px;
    white-space: nowrap;
}
nav a {
    text-decoration: none;
    color: #884A39;
    font-weight: bold;
    margin: 0px 20px;
    font-size: 35px;
    transition: color 0.3s;
}
nav a:hover {
    color: #C38154;
}


footer {
    background-color: #884A39;
    box-shadow: #C38154 0px -5px 10px -5px;
    color: white;
    text-align: center;
    padding: 20px;
    display:flex;
    justify-content: space-around;
}
footer a {
    color:white;

}
footer>div {
    margin: 0px 20px;
}
footer img {
    height: 40px;
    margin: 0px 10px;
    transition: transform 0.3s;
}

.hover {
    align-items: center;
    display: inline-flex;
    padding: 10px;
}
.hover:hover {
    background-color: rgba(179, 179, 179, 0.2);
}

figure {
   
    width:fit-content;
    margin-left:40%;
    margin:10px;
}
figure img {
    max-width: 30%;
    max-height:30%;
}
figcaption {
    color:#fbc982;
}
section {
    padding: 12px;
    margin-top:0px;
    height:fit-content;
    justify-items: right;
    background-color: #C38154;
}
section h2 {
    display: inline;
    color:#fbc982;
    font-size:30px;
}
h1 {
    font-size:50px;
    color:#884A39;
    font-weight: 50px;
}
hr {
    border:3px solid #884A39;
    border-radius: 5%;
}
button{
    background-color:#fbc982;
    border:1px solid #884A39;
}
svg {
    margin-bottom: -10px;
}