* {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
header img {
    height: 100px;
    width: 100%;
}
header {
    align-items: center;
    padding: 10px;
}
header:hover {
    background-color: rgba(179, 179, 179, 0.2);
}